body{
    background-color: cornsilk;
    color: black;
}
form{
    background-color: rgb(240, 236, 232);
    color: black;
}
.container1{
    background-color: rgb(108, 185, 185);
}
nav{
    color: black;
    display: inline;
    text-decoration: none;
}
nav :hover{
    color: red;
}

